@import 'variables.css';

/* rest of your CSS code */
body {
  font-family: var(--main-font);
}

body {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  box-sizing: border-box;
  flex-wrap:nowrap;
  justify-content:space-evenly;
  align-items:flex-start;
  background-color: #9d9793;
}

.conteneur {
  display: flex;
  justify-content: center;
  gap: var(--gap);
  width: 100%;
  min-height: 100vh;
}


.photo-wrapper {
  position: sticky;
  top: 0;
  flex: 0 0 200px;
  height: 150vh;
  background-color: #91edb9;
}

.photo img,
.conteneur .cv-sections {
  width: 100%;
}

.section {
  margin-bottom: 20px;
}

.section h2 {
  color: var(--main-color);
  margin-bottom: 10px;
}

header {
  position:sticky;
  top:0;
  background-color: #91edb9;
  padding: 5px;
  text-align: center;
  margin-bottom: 20px;
}

header h1 {
  margin: 20px;
  color: #141010;
  border: 5px solid;
}

.skills p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}

.stars {
  color: var(--star-color);
  font-size: 1.5em;
  cursor: pointer;
  transition: color 0.3s;
}

.stars {
  background: linear-gradient(to right, var(--star-hover-color) 50%, var(--star-color) 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background-position 0.8s;
}

.skills p:hover .stars {
  background-position: 0 0;
}

.container {
  display: flex;
  /* La direction est modifiée pour être horizontale */
  flex-direction: row; 
  /* Permet aux éléments de déborder horizontalement si nécessaire */
  flex-wrap: nowrap;
}

.image {
  margin-right: 10px; /* Marge entre les images */
}

.image:last-child {
  margin-right: 0; /* Supprime la marge de la dernière image pour éviter un espace vide à droite */
}

.image img {
  width: 140px; /* Largeur de l'image */
  height: 200px; /* Hauteur de l'image */
  object-fit: cover; /* Assurez-vous que l'image est coupée ou étirée pour s'adapter à la taille définie */
}

@media (max-width: 450px) {

  .conteneur {
    display: block;
    width: 100%;
    min-height: 100vh;
  }

  .photo-wrapper {
    position: static;
    height: auto;
  }

  .conteneur .cv-sections,
  .section,
  p {
    width: 100%;
  }
  
}

